@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');


*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all .5s ease;
}

.sidebar header{
    font-size: 22px;
    color: white;
    line-height: 70px;
    text-align:;
    background: #063146;
    user-select: none;
    font-weight: 700;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255,255,255,.1);
    transition: .4s;
}

ul li:hover a{
    padding-left: 50px;
}

#check {
    display: none;
}

label #btn,label #cancel {
    position: absolute;
    background: #042331;
    border-radius: 3px;
    cursor: pointer;
}

label #btn {
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}

label #cancel {
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s ease;
}
/* Modification du bouton cancel*/
#check:checked ~ .sidebar{
    left: 0;
}
#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left: 195px;
}

#check:checked ~ .hero-image{
    margin-left: 250px;
}

/**.hero-image{
    background-image : url(img/bg.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all .5s;
}**/

/* image de fond*/
.hero-image{
   background-position: center;
    height: 650px;
    overflow: hidden ;
    background: url(img/bg.jpeg) no-repeat center;
    background-size: cover ;
    transition: all .5s;
}

/* debut page a propos */


/* fin page a propos */



/* debut page E4 */
/* fin page E4 */

/* debut page E6 */
/* fin page E6 */


/* debut page veille techno */
/* fin page veille techno */

/* debut page veille juri */
/* fin page veille juri */

/* debut page btssio */
/* fin page contact */





